In [2]:
import pandas as pd

In [3]:
db = pd.read_csv("homeprices.csv")
db

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [8]:
dummies = pd.get_dummies(db.town)
dummies

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [21]:
db_merged = pd.concat([db,dummies], axis='columns')
db_final = db_merged.drop(['town','price', 'west windsor'], axis='columns')
y = db_merged.price

In [22]:
from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(db_final, y)

LinearRegression()

In [24]:
model.score(db_final,y)

0.9573929037221873

In [25]:
model.predict([[3400,0,0]]) # 3400 sqr ft home in west windsor

array([681241.66845839])