In [8]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt

In [9]:
db = pd.read_csv('homeprices.csv')
db

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [10]:
model = linear_model.LinearRegression()
model.fit(db[['area']], db.price) #first argument should be 2D Array

LinearRegression()

In [11]:
model.predict([[4500]]) #this expected 2D array

array([791660.95890411])

In [12]:
model.coef_

array([135.78767123])

In [13]:
model.intercept_

180616.43835616432

In [15]:
area = pd.read_csv("areas.csv")
area

    area
0   1000
1   1500
2   2300
3   3540
4   4120
5   4560
6   5490
7   3460
8   4750
9   2300
10  9000
11  8600
12  7100

In [16]:
prid = model.predict(area)
prid

array([ 316404.10958904,  384297.94520548,  492928.08219178,
        661304.79452055,  740061.64383562,  799808.21917808,
        926090.75342466,  650441.78082192,  825607.87671233,
        492928.08219178, 1402705.47945205, 1348390.4109589 ,
       1144708.90410959])

In [17]:
area['price'] = prid
area

    area         price
0   1000  3.164041e+05
1   1500  3.842979e+05
2   2300  4.929281e+05
3   3540  6.613048e+05
4   4120  7.400616e+05
5   4560  7.998082e+05
6   5490  9.260908e+05
7   3460  6.504418e+05
8   4750  8.256079e+05
9   2300  4.929281e+05
10  9000  1.402705e+06
11  8600  1.348390e+06
12  7100  1.144709e+06

In [18]:
area.to_csv("prediction.csv")